<p class="disclaimer">All code and advice is provided without warranty -- use at your own risk! Opinions expressed here are my own and not that of my employer or any one else.<br/>
This is just a blog! Don't take it too seriously!<br/>
Despite not being too serious, this blog has a <a href="http://davesquared.net/2007/07/privacy-policy.html">Privacy Policy</a>, because it uses Google Analytics to see if anyone drops by.</p>

<p>
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
</p>
