<ul class="subscription" data-subscription="rss{% if site.subscribe_email %} email{% endif %}">
  <li><a href="{{ site.subscribe_rss }}" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
  {% if site.subscribe_email %}
    <li><a href="{{ site.subscribe_email }}" rel="subscribe-email" title="subscribe via email">Email</a></li>
  {% endif %}
</ul>
  {% if site.simple_search %}
<!-- Google CSE Search Box Begins  -->
<form id="searchbox_005697633880271604295:snlx0l0dwf0" action="http://www.google.com/cse" onsubmit="davesquared_submitSearchBoxWidget()">
  <fieldset role="search">
  <input value="005697633880271604295:snlx0l0dwf0" name="cx" type="hidden"/>
  <input value="" name="cof" type="hidden"/>
  <input class="search" type="text" name="q" results="0" placeholder="Search"/>
  </fieldset>
</form>
<!-- Google CSE Search Box Ends -->
<script type="text/javascript">
function davesquared_submitSearchBoxWidget() {
  var searchBox = document.getElementById("searchbox_005697633880271604295:snlx0l0dwf0");
  searchBox.action = "/search";
  searchBox.cof.value="FORID:11";
}
</script>
  {% endif %}
{% include custom/navigation.html %}
