<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta content="David Tchepak" name="author"/> 
  <meta content="m9AwWGJvEIZc0KDR601AHxGXy0/pSZOi7V1Uh9qqYaI=" name="verify-v1"/> 
  <meta content="bNZj4YX0JTcKLGJ3Dt7Fy4ePh9t8Y9pAGX30PfkT3O8=" name="verify-v1"/> 
  <meta content="4B6B9C131D9347A55703A69B23E8D4B0" name="msvalidate.01"/> 
  <meta content="C20FD3C7DF3940F7AA9175180171DB4D" name="msvalidate.01"/> 
  <META content="b0fbb5105795aadf" name="y_key" />
  <meta content="dd8c9bdcee0cd8b2" name="y_key"/> 
  <title>
      {% if page.title == null %}
          dave^2 = -1: David Tchepak's software development blog
      {% else %}
          {{ page.title }} | dave^2 = -1
      {% endif %}
  </title>
  <link rel="stylesheet" href="/css/shCore.css" type="text/css" />
  <link rel="stylesheet" href="/css/shThemeDefault.css" type="text/css" />
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
  <link href="/davesquared-search.xml" rel="search" title="Dave^2 Search" type="application/opensearchdescription+xml"/> 

  {% if page.previous.url %}
  <link rel="prev" href="{{page.previous.url}}" />
  {% endif %}
  {% if page.next.url %}
  <link rel="next" href="{{page.next.url}}" />
  {% endif %}
</head>
<body>

  <div id="header">
      <div id="title">
          <h1><a href="/">dave^2 = -1</a></h1>
          <h2>A software development blog by some bloke called Dave.</h2>
      </div>
      <div id="badges">
          <img src="/images/rss.png" />
          <img src="/images/twitter.png" />
          <img src="/images/email.png" />
      </div>
  </div>

  <div id="navigation">About | Archives | Tags | Search
        <!-- Google CSE Search Box Begins  -->
        <form id="searchbox_005697633880271604295:snlx0l0dwf0" action="http://www.google.com/cse" onsubmit="davesquared_submitSearchBoxWidget()">
          <input value="005697633880271604295:snlx0l0dwf0" name="cx" type="hidden"/>
          <input value="" name="cof" type="hidden"/>
          <input style="font-size: 0.9em" name="q" size="20" type="text"/>
          <input style="font-size: 0.9em" value="Search" name="sa" type="submit"/>
        </form>
        <!-- Google CSE Search Box Ends -->
        <script type="text/javascript">
        function davesquared_submitSearchBoxWidget() {
          var searchBox = document.getElementById("searchbox_005697633880271604295:snlx0l0dwf0");
          searchBox.action = "/search.html";
          searchBox.cof.value="FORID:11";
        }
        </script>
  </div>

  <div id="content">
      {{ content }}
  </div>

  <div id="footer">
      All code and advice is provided without warranty -- use at your own risk!  Opinions expressed here are my own and not that of my employer or any one else.
This is just a blog! Don't take it too seriously!
Despite not being too serious, this blog has a <a href="http://davesquared.net/2007/07/privacy-policy.html">Privacy Policy</a>, because it uses Google Analytics to see if anyone drops by.
This blog may contain traces of <a href="http://tango.freedesktop.org/">Tango icons</a>.
  </div>

  <script type="text/javascript" src="/scripts/shCore.js"></script>
  <script type="text/javascript" src="/scripts/shBrushCSharp.js"></script>
  <script type="text/javascript" src="/scripts/shBrushRuby.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      doHighlighting();
    });

    function doHighlighting() {
        SyntaxHighlighter.defaults.gutter = false;
        SyntaxHighlighter.defaults.toolbar = false;
        SyntaxHighlighter.all();
    }
  </script>

    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2217573-4']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>
</body>
</html>
