// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
.note {
    @include border-radius(0.5em);
    border: 1px solid #528bc5;
    background-color: #F0F5FF;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    padding: 0.5em;
    margin-bottom: 1em;
    font-size: 0.7em;
    b { font-weight: bolder; }
}
